.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 60px 20px 20px; /* Adjust padding for Navbar */
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.multi-location-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.weather-mood-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .main-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .search-bar-container {
    flex: 1;
    max-width: 45%;
  }

  .multi-location-container {
    flex: 1;
    max-width: 45%;
  }

  .weather-mood-container {
    flex: 1;
    max-width: 100%;
  }
}
